.hero-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #14f214;
    text-shadow: 0 0 18px rgba(202, 162, 91, 0.28);
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  }
  
  .hero-title:hover {
    transform: translateY(-10px) scale(1.1);
  }
  
  @keyframes gradientFlow {
    0% { opacity: 0.9; }
    100% { opacity: 1; }
  }
  